.profile__about {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    
    color: #FFFFFF;

    flex-basis: 100%;

}



@media screen and (max-width: 730px) {
    .profile__about {
        font-size: 14px;
     
        text-align: center;
    }
}