.popup__button-close {
    font-size: 65px;
    background: transparent;
    color: rgb(255, 255, 255);
    position: absolute;
    outline: none;
    border: none;
    cursor: pointer;
    top: -55px;
    right: -55px;
}

@media (max-width: 550px) {
    .popup__button-close {
        top: -78px;
        right: -10px;
    }
}